body{background-color: #f3f5ff;
    font-family: Arial;
    padding:10px;}

h1  { font-size:40px;
      display:flex;
      justify-content: center;
    }

img {  position:relative; 
      margin-left:243px;
    }
button{position: absolute;
       margin-top:-156px;
       margin-left: 506px;
      }
      p{    
      text-align:center;
      }
div{text-align: left ; }